body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg);
    color: var(--text-black);
    font-size: 14px;
    letter-spacing: 0.03em;
}

:root {
    --text-black: #212121;
    --text-gray: #757575;
    --hover-blue: #2196F3;
    --title-white: #ffffff;
    --logo-black: #000000;
    --main-bg: #ffffff;
    --banner-bg: #2F303A;
    --button-bg: #F5F4FA;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.section-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* HEADER */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--hover-blue);
}

.logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--logo-black);
}

.nav-links {
    color: var(--text-black);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav-contact {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-gray);
}


.nav-links:hover,
.nav-links:focus,
.nav-contact:hover,
.nav-contact:focus {
    color: var(--hover-blue);
}

.link-active {
    color: var(--hover-blue);
}

/* BANNER */

.banner {
    background-color: var(--banner-bg);
}

.banner-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--title-white);
}

.banner-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--title-white);

    background: var(--hover-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: 0;
}

/* FEAUTURES */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-text {
    line-height: 1.71;
    color: var(--text-gray);
}

/* WEDOIT */

.wedoit-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* TEAM */

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--text-gray);
}

/* FOOTER */

.footer {
    background-color: var(--banner-bg);
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--hover-blue);
}


.footer-logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--title-white);
}

.footer-map {
    font-style: normal;
    line-height: 1.71;
    color: var(--title-white);
    text-decoration: none;
}

.footer-contact {
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.footer-contact:hover,
.footer-contact:focus {
    color: var(--hover-blue);
}

/* PORTFOLIOFILTERS */

.filters-btn {
    background-color: var(--button-bg);
    border-radius: 4px;
    cursor: pointer;
    border: 0;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--text-black);
}


.filters-btn:hover,
.filters-btn:focus {
    background: var(--hover-blue);    
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--title-white);
}

.btn-active {
    background: var(--hover-blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--title-white);
}

/* PORTFOLIOPROJECTS */

.projects-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

 .projects-text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--text-gray);
 }